#bg-video {
  position: fixed;      /* Stays in place */
  right: 0;
  bottom: 0;
  min-width: 100%;      /* Fill width */
  min-height: 100%;     /* Fill height */
  object-fit:cover;    /* No black bars */
  z-index: -1;          /* Behind content */
}

.form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


